<?xml version="1.0" encoding="utf-8"?>
<robot name="rosmentor" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="machine"      value="$(env MACHINE_TYPE)"/>
    <xacro:include filename="$(find simulator)/urdf/mecanum.xacro"/>
    <xacro:include filename="$(find simulator)/urdf/inertial_matrix.xacro" />
</robot>
